//ЦВЕТА
//svg цвет
$svgPinc: #F16D7F;

//фон
$bgBlack: #222222;
$bgWhite: #FFFFFF;
$bgPinc: #F16D7F;
$bgGrayCard: #F8F8F8;
$bgPincImg: #F7E4E2;
$bgGrayImg: #F3EDED;
$bgPromo: #F1E4E6;
$bgInput: #E1E1E1;

//текст
$textWhite: #FFFFFF;
$textBlack: #222222;
$textGray: #5D5D5D;
$textPinc: #F16D7F;
$textGaryPale: #9F9F9F;
$inputText: #222224;

//бордер
$borderWhite: #FFFFFF;
$borderPinc: #F16D7F;
$borderBlack: #222222;


//размеры
$container: 1140px;
$containerTab: 734px;
$containerMob: 343px;
